{%- macro generate_config(project, config_list) %}
llm_config = {
    "config_list": {{ config_list }} + autogen.config_list_from_json(
        env_or_file="OAI_CONFIG_LIST",
        file_location=".",
    ),
    {%- if project['settings'] is not none and project['settings'].get('timeout') is not none %}
    "timeout": {{ project['settings'].timeout }},
    {%- endif %}
    {%- if project['settings'] is not none and project['settings'].get('temperature') is not none %}
    "temperature": {{ project['settings'].get('temperature') }},
    {%- endif %}
    {%- if project['settings'] is not none and project['settings'].get('max_tokens') is not none %}
    "max_tokens": {{ project['settings'].get('max_tokens') }},
    {%- endif %}
}
{% endmacro %}
